@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root{
  --theme-color: #22823a;
  --secondary-color: #131615;
  --theme-color-2: #e4753d;
  --text-color: #666;
  --title-color: #111;
  --text-font: "IBM Plex Sans", sans-serif;
  --title-font: "Ubuntu", sans-serif;
}

body {
  /* font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif; */
  -webkit-font-smoothing: antialiased;
  body {
    font-family: 'Ubuntu', sans-serif;
  }
  
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #333;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.body{
  overflow-x: hidden;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {

    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



